# === EVERFOREST SOFT LIGHT THEME === #
background_color               #F3EAD3  /* Soft Light Background */

text_highlight_color           #A7C080  /* Soft Green */
visual_mark_color              #E1E4BD  /* Soft Cream */

search_highlight_color         #A7C080  /* Soft Green */
link_highlight_color           #7FBBB3  /* Soft Blue */
synctex_highlight_color        #EBCB8B  /* Soft Yellow */

highlight_color_a              #A7C080  /* Soft Green */
highlight_color_b              #EBCB8B  /* Soft Yellow */
highlight_color_c              #7FBBB3  /* Soft Blue */
highlight_color_d              #E8A2AF  /* Soft Red */
highlight_color_e              #D3C6AA  /* Soft Cream */
highlight_color_f              #D08770  /* Soft Earthy */
highlight_color_g              #A7C080  /* Soft Green */

custom_background_color        #FAF4ED  /* Soft Light Background */
custom_text_color              #434C5E  /* Soft Dark */

ui_text_color                  #434C5E  /* Soft Dark */
ui_background_color            #ECEFF4  /* Soft Very Light Background */
ui_selected_text_color         #434C5E  /* Soft Dark */
ui_selected_background_color   #D8DEE9  /* Soft Light Background */


# =============== #
super_fast_search 1
startup_commands toggle_custom_color
